################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/SakaryaUniversityLectures/FileContentIndex/5ed4b6c5-86ae-4f68-81bf-09aa91a4edeb.vsidx
/.vs/ProjectSettings.json
/.vs/SakaryaUniversityLectures/FileContentIndex/6fb113f7-47cd-48e8-9c76-92ffedc848f3.vsidx
/.vs/SakaryaUniversityLectures/v17/.wsuo
/.vs/SakaryaUniversityLectures/v17/DocumentLayout.json
/.vs/slnx.sqlite
/.vs/VSWorkspaceState.json
/.vs/SakaryaUniversityLectures/FileContentIndex/e755bd6f-ee5c-4c04-a3a4-9fe7f9693ea6.vsidx
/.vs/SakaryaUniversityLectures/FileContentIndex/d39078af-d7cb-4f18-b594-8280a3671995.vsidx
/.vs/SakaryaUniversityLectures/FileContentIndex
