################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Lectures/FileContentIndex/451b6597-44f7-4aa7-9021-cf07408da3a2.vsidx
/.vs/Lectures/FileContentIndex/4602a207-b5dd-4a84-b0fb-9a5581e7801f.vsidx
/.vs/Lectures/FileContentIndex/970609cb-43fa-47d4-9ddc-b971f6a8d0cf.vsidx
/.vs/Lectures/FileContentIndex/a109db3a-4322-4516-9a10-164eb0eb7541.vsidx
/.vs/Lectures/FileContentIndex/e1b0bcdd-8c14-4525-a18d-fcbf0571d428.vsidx
/.vs/Lectures/v17/.wsuo
/.vs/Lectures/v17/DocumentLayout.json
/.vs/ProjectSettings.json
/.vs/slnx.sqlite
/.vs/VSWorkspaceState.json
/.vs/Lectures/FileContentIndex/799923ff-a561-46f2-a72a-abb94b8a1354.vsidx
/.vs/Lectures/FileContentIndex
